<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Car</title>
</head>
<body>
    <h1>Add a New Car</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.make.label }}<br>
            {{ form.make(size=32) }}<br>
        </p>
        <p>
            {{ form.model.label }}<br>
            {{ form.model(size=32) }}<br>
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year() }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
